* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
	margin: 0;
}
body, div, form, input, button {
  font-family: monospace;
  color: #fff;
  font-size: 16px;
}
h1 {
  font-weight: 100;
  font-size: 24px;
  margin: 24px;
  color: #fff;
  text-align: center;
}
h2 {
    font-weight: 100;
    font-size: 20px;
    margin: 24px;
    color: #fff;
    text-align: center;
}

/*** Send message */
.form {
  padding: 0;
  position: fixed;
  bottom: 5%; left: 5%; right: 5%;
  width: 100%; height: 56px;
  z-index: 100;
}
input {
  border: 0;
  height: 56px;
  width: 90%;
  background-color: #333;
  color: #aeaeae;
  margin: 0;
  padding: 0 16px;
}
input:focus, input:valid {
  color: #fff;
}
/* button {
  width: 20%;
  height: 100%;
  background-color: #3E93FF;
  border: 0;
  color: #fff;
  margin: 0;
  padding: 0;
}
button:hover {
  background-color: #235697;
} */

/*** View message ****/
#login {
  position: absolute;
  left: 0; top: 0;
  height: 100%;
  width: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0,0,0,0.9);
  flex-flow: column;
}
#chat {
  display: none;
}
#messages {
  padding: 5%;
  height: 240px;
  width: 100%;
  max-width: 480px;
  overflow-y: scroll;
  position: absolute;
  bottom: 80px;
  z-index: 100;
}
#messages ul, li {
  list-style-type: none; margin: 0; padding: 0; }
#messages li {
  padding: 5px 10px;
  background: rgba(0,0,0,0.3);
  }
#messages li:nth-child(odd) {
  background: rgba(0,0,0,0.8);
  color: #999;
}


/*** Request button ***/
button, button.requested:hover, button:active {
  color: #fff;
  font-family: monospace;
  text-align: center;
  background-color: #FF3B30;
  border: 1px solid #FF3B30;
  border-radius: 8px;
  padding: 16px;
  font-size: 24px;
}
button.requested {
  color: #FF3B30;
  background-color: #fff;
  border: 1px solid #FF3B30;
}

/*** View map ***/
.map {
	width: 100vw;
	height: 100vh;
  z-index: 0;
  position: absolute;
}
.leaflet-control-attribution {
  display: none;
}
.controls {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 100%;
  padding: 24px;
  z-index: 1;
  text-align: center;
  color: #FF3B30;
}

/*** Map styles ****/
.spots {
  fill: #3E93FF; /*blue*/
}
.spotsYou {
  stroke: #FF3B30; /*red*/
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 2s ease-out;
  -moz-animation-iteration-count: infinite;
  -ms-animation: pulsate 2s ease-out;
  -ms-animation-iteration-count: infinite;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}
.tooltipYou {
  font-weight: bold;
  color: #FF3B30;
}

@-webkit-keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 1; }
  50%   { opacity:1.0; stroke-width: 5; }
  100%  { opacity:0.4; stroke-width: 1; }
}

@-moz-keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 1; }
  50%   { opacity:1.0; stroke-width: 5; }
  100%  { opacity:0.4; stroke-width: 1; }
}

@-ms-keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 1; }
  50%   { opacity:1.0; stroke-width: 5; }
  100%  { opacity:0.4; stroke-width: 1; }
}

@keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 1; }
  50%   { opacity:1.0; stroke-width: 5; }
  100%  { opacity:0.4; stroke-width: 1; }
}
